
<div class="books">
  <div class="title">
    <h2>Selected Book:  "{{book?.name}}"</h2>
  </div>
  <div class="books-item">
    <div class="book" *ngFor="let character of characters">
      <img src="{{character.view ? character.view.view : '../../../assets/heroimg/empty.jpg'}}" (click)="onSelect(character)" width="80px" height="80px">

      <div class="characterUrl">{{character.name}}</div>

    </div>
  </div>

</div>
<button (click)="goToBooksList()">Go Back</button>
  <!--(click)="onSelect(book)-->
